# OS's:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE's
.idea
.vscode

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.npmrc

dist

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# cache and temporary
.local
.cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
